* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana;
	font-size: 16px;
	background-color: #ECECEC;
}

img {
    max-width: 100%;
    height: auto;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SPLASH SCREEN */

#splashScreen{
	height: 100vh;
	width: 100%;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	background-color: #0070B6;
}

#contenedorItemsSplash{
	margin:10px;
}

#TextoSplash{
	font-weight: bold;
	color: white;
	padding-left: 6px;
}

#contenedorItemsSplash img{
	width: 100%;
	height: auto;
	max-width: 500px;
	max-height: 500px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */

header{
	background-color: #0070B6;
	border-bottom: 4px solid #76A852;
}

#LogosINTARIAN{

}

#LogosINTARIAN img{
	margin: 5px;
	height: 50px;
	width: 150px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CUERPO */

#TituloSistema{
	margin:8px 0px;
	text-align: center;
	font-weight: bold;
}

#cuerpo{
	padding: 5px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MEDIA QUERIES */

