html, body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
    padding: 0px;
    font-family: Verdana;
	font-size: 16px;
	background-color: #ECECEC;
}

img {
    max-width: 100%;
    height: auto;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SPLASH SCREEN */

#splashScreen{
	height: 100vh;
	width: 100%;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	background-color: #0070B6;
}

#contenedorItemsSplash{
	margin:10px;
}

#TextoSplash{
	font-weight: bold;
	color: white;
	padding-left: 6px;
}

#contenedorItemsSplash img{
	width: 100%;
	height: auto;
	max-width: 500px;
	max-height: 500px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CONTENIDO APP */

#contenido {
    height: 100%;
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
        
header{
    float: left;
	width: 100%;
	background-color: #0070B6;
	border-bottom: 4px solid #76A852;
	height: 100px;
}

#LogosINTARIAN img:nth-child(1){
	margin: 5px;
	height: 50px;
	width: 150px;
}

#AbrirMenu{
	float: right;
    height: 35px;
    margin: 15px 8px 0px 0px;
    vertical-align: middle;
}

#TituloSistema{
	padding:8px 0px;
	text-align: center;
	font-weight: bold;
	background-color: #ECECEC;
	margin: 0px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MAPA */

#map{
    height: calc(100% - 104px);
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MENU LATERAL */

.MenuLateral img:nth-child(1){
	width: 25px;
	height: 25px;
	float: right;
}

.TituloMenuLateral{
	font-size: 25px;
	font-weight: lighter;
	margin: 0px 0px 20px 0px;
}

.cmdVerde
{
    position: relative;
    vertical-align: top;
    padding: 8px 3px;
    font-size: 15px;
    color: white;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #53983F;
    border: 0;
    width: 100%;
    margin-bottom: 10px;
}

.cmdVerde:active {
	background: #8BD475;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MEDIA QUERIES */

@media (max-width: 452px) {
	header{
		height: 122px;
	}

	#map{
	    height: calc(100% - 126px);
	    width: 100%;
	}
}

@media (max-width: 350px) {
	#TituloSistema{
		font-size: 14px;
	}

	header{
		height: 116px;
	}	
}